section {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 32em;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
}

label {
  width: 7em;
}

.checkbox {
  width: 50%;
}

.slider {
  width: calc(100% - 10em);
}

select {
  display: block;
  width: 100%;
}

.select {
  width: 30%;
}

.display {
  text-align: right;
  width: 3em;
}